<div class="share">
  <% if (theme.share.enable) { %>

    <% if (theme.share.jiathis) { %>
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style_24x24">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <a class="jiathis_counter_style"></a>
        </div>
        <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->
    <% } %>

    <% if (theme.share.google) { %>
      <div class="g-plusone"></div>

      <script type="text/javascript">
        window.___gcfg = {lang: 'en-GB'};

        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    <% } %>

    <% if (theme.share.twitter) { %>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="halfer53">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <% } %>
  <% } %>
</div>