// Color
color-background = #eee
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #009CDC

// Font
font-default = 'Open Sans',Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",Simsun,sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = 'Open Sans',Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",Simsun,sans-serif
font-header = 'Playball', cursive,"Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",Simsun,sans-serif

font-icon = FontAwesome

// Width
page-width = 1200px