.archive-title
  color color-meta
  font-weight normal
  margin-bottom 30px
  text-shadow 0 0 1px #fff
  &:before
    font-family font-icon
    content '\f073'
    padding-right 15px

  &.tag
    &:before
      content '\f02b'

  &.category
    &:before
      content '\f07b'

.archive
  margin-bottom 50px
  .post
    margin-top 10px
    border-bottom 1px dashed color-border
    .post-content-index
      margin-bottom 0