#footer
  color color-meta
  margin-bottom 20px
  text-shadow 0 0 1px #fff
  .alignleft
    padding-top 22px
    font-family font-header

  .alignright
  	padding 15px 0
  	font-size 2em
  	line-height 1
  	a
  		color color-meta
  		margin-right 12px
  		&:hover
  			color color-link
