#footer
  color color-meta
  margin-bottom 50px
  text-shadow 0 0 1px #fff
  .alignleft
    padding-top 22px
    font-family font-header

  .alignright
  	padding 15px 0
  	font-size 2em
  	line-height 1
  	a
  		color color-meta
  		margin-right 12px
  		&:hover
  			color color-link
  .scroll-top
    position fixed
    bottom 50px
    right 100px
    display none
    font-size 50px
    cursor pointer
    opacity 0.8
    @media screen and (max-width: 992px)
      bottom 0
      right 10px
    @media screen and (max-width: 768px)
      font-size 40px

