#footer
  color color-meta
  margin-bottom 50px
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      margin-bottom 120px
    }
  text-shadow 0 0 1px #fff
  .alignleft
    padding-top 22px
    font-family font-header

  .alignright
  	padding 15px 0
  	font-size 2em
  	line-height 1
  	a
  		color color-meta
  		margin-right 12px
  		&:hover
  			color color-link
  .scroll-top
    position fixed
    bottom 100px
    right 25px
    display none
    font-size 70px
    cursor pointer
    opacity 0.8
    z-index 199
    @media screen and (max-width: 992px)
      bottom 0
      right 10px
      font-size 50px

